.before-after

	.before-after__window

			.before-after__img-out
				img(alt="alt" src="img/slide2.jpg").before-after__pic

			.vivid
				span.el-line
nav.panel

	.arrow
		i.icon.icon-down-arrow
	
	.range
		span.range__txt.hide-xs Realistic

		.range__bar
			
			input(type="range" min="0" max="1" value="0.3" step="0.1").range__input

		span.range__txt.hide-xs Vivid

		a(href="").btn.btn-apply_range Apply to all